[Unit]
Description=On-demand BitTorrent Sync config creator for %i
Before=btsync@.service

[Service]
User=%i
Type=oneshot
ExecStart=/usr/share/bittorrent-sync/btsync-autoconfig.sh

[Install]
WantedBy=btsync@.service
